.tag {
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background-color: #ffffff;
    color: #595959;
    margin: 5px;
    padding: 0 5px 0 5px;
}

.large {
    margin: 5px;
    padding: 8px;
    font-size: 16px;
    line-height: 24px;
}

span {
    font-weight: bold;
    color: #595959;
}
