.card-search{

    margin: 54px 72px 36px 72px;
    padding: 36px;
    background-color: #E6F7FF;
}

.title-search{
    padding-bottom: 12px;
}

.input-search{
    padding-bottom: 32px;
}

.card-response{

    height: 400px;
    background: #F5F5F5;
    margin: 54px 72px 36px 72px;
    padding: 18px 24px 8px 24px;
}




